@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image:linear-gradient(90deg, #2EB9FF,#129CE0, #045A85);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #033954dc;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #945100;
    text-align: center;
    text-shadow: 2px 2px 1px #603500;
}
h2{
    color: #E08312;
}
p{
    text-align: justify;
}